## Задача 1
Скачать файл в уроке. Считать данные с помощью pandas.
Вывести на экран первые 5 строк. Посмотреть на описание признаков и на их содержание.

In [15]:
import pandas as pd
df = pd.read_csv('kc_house_data.csv')
df

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180.0,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170.0,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770.0,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050.0,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680.0,0,1987,0,98074,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,20140521T000000,360000.0,3,2.50,1530,1131,3.0,0,0,...,8,1530.0,0,2009,0,98103,47.6993,-122.346,1530,1509
21609,6600060120,20150223T000000,400000.0,4,2.50,2310,5813,2.0,0,0,...,8,2310.0,0,2014,0,98146,47.5107,-122.362,1830,7200
21610,1523300141,20140623T000000,402101.0,2,0.75,1020,1350,2.0,0,0,...,7,1020.0,0,2009,0,98144,47.5944,-122.299,1020,2007
21611,291310100,20150116T000000,400000.0,3,2.50,1600,2388,2.0,0,0,...,8,1600.0,0,2004,0,98027,47.5345,-122.069,1410,1287
21612,1523300157,20141015T000000,325000.0,2,0.75,1020,1076,2.0,0,0,...,7,1020.0,0,2008,0,98144,47.5941,-122.299,1020,1357

In [16]:
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180.0,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170.0,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770.0,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050.0,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680.0,0,1987,0,98074,47.6168,-122.045,1800,7503

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  object
 2   price          21613 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21611 non-null  float64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
dtypes: float64(6), int64(14), object(1)
memory usage: 3.5+ MB

## Задача 2
Проведите первичный анализ данных. Изучите типы данных.
Найдите количество пропущенных ячеек в данных.
Посчитайте основные статистики по всем признакам и поизучайте их.
Пишите выводы.

In [18]:
df.describe()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
count,2.161300e+04,2.161300e+04,21613.000000,21613.000000,21613.000000,2.161300e+04,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21611.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000
mean,4.580302e+09,5.400881e+05,3.370842,2.114757,2079.899736,1.510697e+04,1.494309,0.007542,0.234303,3.409430,7.656873,1788.396095,291.509045,1971.005136,84.402258,98077.939805,47.560053,-122.213896,1986.552492,12768.455652
std,2.876566e+09,3.671272e+05,0.930062,0.770163,918.440897,4.142051e+04,0.539989,0.086517,0.766318,0.650743,1.175459,828.128162,442.575043,29.373411,401.679240,53.505026,0.138564,0.140828,685.391304,27304.179631
min,1.000102e+06,7.500000e+04,0.000000,0.000000,290.000000,5.200000e+02,1.000000,0.000000,0.000000,1.000000,1.000000,290.000000,0.000000,1900.000000,0.000000,98001.000000,47.155900,-122.519000,399.000000,651.000000
25%,2.123049e+09,3.219500e+05,3.000000,1.750000,1427.000000,5.040000e+03,1.000000,0.000000,0.000000,3.000000,7.000000,1190.000000,0.000000,1951.000000,0.000000,98033.000000,47.471000,-122.328000,1490.000000,5100.000000
50%,3.904930e+09,4.500000e+05,3.000000,2.250000,1910.000000,7.618000e+03,1.500000,0.000000,0.000000,3.000000,7.000000,1560.000000,0.000000,1975.000000,0.000000,98065.000000,47.571800,-122.230000,1840.000000,7620.000000
75%,7.308900e+09,6.450000e+05,4.000000,2.500000,2550.000000,1.068800e+04,2.000000,0.000000,0.000000,4.000000,8.000000,2210.000000,560.000000,1997.000000,0.000000,98118.000000,47.678000,-122.125000,2360.000000,10083.000000
max,9.900000e+09,7.700000e+06,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,1.000000,4.000000,5.000000,13.000000,9410.000000,4820.000000,2015.000000,2015.000000,98199.000000,47.777600,-121.315000,6210.000000,871200.000000

## Задача 3
Ответьте на несколько вопросов

### 3.1
В каком диапазоне изменяются стоимости недвижимости?

In [26]:
df['price'].min()

75000.0

In [27]:
df['price'].max()

7700000.0

### 3.2 
Какую долю в среднем занимают жилая площадь от всей площади по всем домам?

In [29]:
df['sqft_living'].mean()

2079.8997362698374

### 3.3
Как много домов с разными этажами в данных?

In [30]:
df['floors'].value_counts()

floors
1.0    10680
2.0     8241
1.5     1910
3.0      613
2.5      161
3.5        8
Name: count, dtype: int64

### 3.4 
Насколько хорошие состояния у домов в данных?

In [51]:
df['condition'].value_counts()

condition
3    14031
4     5679
5     1701
2      172
1       30
Name: count, dtype: int64

### 3.5 
Найдите года, когда построили первый дом, когда построили последний дом в данных?

In [31]:
df[df['yr_built'] == df['yr_built'].min()]

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
14,1175000570,20150312T000000,530000.0,5,2.00,1810,4850,1.5,0,0,...,7,1810.0,0,1900,0,98107,47.6700,-122.394,1360,4850
115,3626039325,20141121T000000,740500.0,3,3.50,4380,6350,2.0,0,0,...,8,2780.0,1600,1900,1999,98117,47.6981,-122.368,1830,6350
498,9274202270,20140818T000000,625000.0,2,1.50,1490,5750,1.5,0,0,...,7,1190.0,300,1900,0,98116,47.5872,-122.390,1590,4025
537,5694500105,20141204T000000,595000.0,2,2.00,1510,4000,1.0,0,0,...,7,1010.0,500,1900,0,98103,47.6582,-122.345,1920,4000
703,7011200260,20141219T000000,485000.0,4,2.00,1400,3600,1.0,0,0,...,7,1100.0,300,1900,0,98119,47.6385,-122.370,1630,2048
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19063,1702901340,20140613T000000,718500.0,3,2.00,2910,6600,2.0,0,0,...,7,1920.0,990,1900,1988,98118,47.5576,-122.281,1370,5500
19137,3388110230,20140729T000000,179000.0,4,1.75,1790,7175,1.5,0,0,...,6,1410.0,380,1900,0,98168,47.4963,-122.318,1790,8417
19319,4083302225,20141014T000000,850000.0,4,3.00,2550,3784,1.5,0,0,...,8,1750.0,800,1900,0,98103,47.6559,-122.338,2100,4560
19385,2420069042,20150424T000000,240000.0,3,2.00,1553,6550,1.0,0,0,...,7,1553.0,0,1900,2001,98022,47.2056,-121.994,1010,10546
19598,7518507685,20150223T000000,400000.0,3,1.00,1100,5100,2.0,0,0,...,7,1100.0,0,1900,0,98117,47.6790,-122.386,1540,5100

In [32]:
df[df['yr_built'] == df['yr_built'].max()]

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
643,9385200045,20150512T000000,729500.0,3,2.50,1660,1091,3.0,0,1,...,9,1530.0,130,2015,0,98116,47.5818,-122.402,1510,1352
1763,1832100030,20140625T000000,597326.0,4,4.00,3570,8250,2.0,0,0,...,10,2860.0,710,2015,0,98040,47.5784,-122.226,2230,10000
2687,3076500830,20141029T000000,385195.0,1,1.00,710,6000,1.5,0,0,...,6,710.0,0,2015,0,98144,47.5756,-122.316,1440,4800
4154,8077100031,20150422T000000,631000.0,3,2.25,1670,1396,2.0,0,0,...,9,1250.0,420,2015,0,98115,47.6814,-122.288,1610,5191
7526,9520900210,20141231T000000,614285.0,5,2.75,2730,6401,2.0,0,0,...,8,2730.0,0,2015,0,98072,47.7685,-122.160,2520,6126
8039,1250200495,20140624T000000,455000.0,2,1.50,1200,1259,2.0,0,0,...,8,1000.0,200,2015,0,98144,47.6001,-122.298,1320,1852
8425,558100090,20150312T000000,628000.0,5,2.75,2600,8160,2.0,0,0,...,8,2600.0,0,2015,0,98133,47.7348,-122.340,1600,8160
14215,8156600210,20150326T000000,1285000.0,5,3.50,2980,5100,2.0,0,0,...,10,2370.0,610,2015,0,98115,47.6782,-122.299,1780,5100
14489,2770601530,20140826T000000,500000.0,2,2.25,1570,1269,2.0,0,0,...,9,1280.0,290,2015,0,98199,47.6514,-122.385,1570,6000
14925,2770602360,20150421T000000,671000.0,4,2.75,1890,1475,2.0,0,0,...,9,1200.0,690,2015,0,98199,47.6472,-122.383,1650,1682
17098,9126100346,20140617T000000,350000.0,3,2.00,1380,3600,3.0,0,0,...,8,1380.0,0,2015,0,98122,47.6074,-122.305,1480,3600
19722,9161100075,20150318T000000,673000.0,4,2.25,2580,2875,2.0,0,0,...,9,2580.0,0,2015,0,98116,47.5674,-122.392,1290,5750
19805,9126100765,20140801T000000,455000.0,3,1.75,1320,1014,3.0,0,0,...,9,1320.0,0,2015,0,98122,47.6047,-122.305,1380,1495
19863,2768100510,20150402T000000,649000.0,3,2.00,1530,1442,3.0,0,0,...,9,1530.0,0,2015,0,98107,47.6692,-122.372,1620,1456
19907,7853440140,20150409T000000,802945.0,5,3.50,4000,9234,2.0,0,0,...,9,4000.0,0,2015,0,98024,47.5265,-121.887,3690,6600
19945,8011100047,20150306T000000,530000.0,4,2.75,2740,7872,2.0,0,0,...,10,2740.0,0,2015,0,98056,47.4954,-122.172,1220,6300
19959,7853430690,20150127T000000,572800.0,3,2.50,3310,4682,2.0,0,0,...,9,2380.0,930,2015,0,98065,47.5201,-121.885,2660,5166
20086,2768100512,20150422T000000,659000.0,2,2.50,1450,1213,2.0,0,0,...,9,1110.0,340,2015,0,98107,47.6692,-122.372,1620,1456
20251,7853440050,20150505T000000,771005.0,5,4.50,4000,6713,2.0,0,0,...,9,4000.0,0,2015,0,98024,47.5254,-121.886,3690,6600
20311,7132300525,20150411T000000,500000.0,3,1.75,1530,825,3.0,0,0,...,8,1530.0,0,2015,0,98144,47.5929,-122.308,1580,1915
20369,4385700250,20150407T000000,1800000.0,4,3.50,3480,4000,2.0,0,0,...,9,2460.0,1020,2015,0,98112,47.6356,-122.281,2620,4000
20487,9103000455,20150424T000000,920000.0,4,3.25,2190,4265,2.0,0,0,...,9,1540.0,650,2015,0,98122,47.6178,-122.290,1730,4265
20488,8691440220,20150202T000000,1289990.0,5,4.00,4360,8030,2.0,0,0,...,10,4360.0,0,2015,0,98075,47.5923,-121.973,3570,6185
20698,255470030,20150429T000000,619990.0,4,2.75,2630,4501,2.0,0,0,...,8,2630.0,0,2015,0,98028,47.7748,-122.244,2380,4599
20770,9310300160,20140828T000000,357000.0,5,2.50,2990,9240,2.0,0,0,...,8,2990.0,0,2015,0,98133,47.7384,-122.348,1970,18110
20798,952005863,20150505T000000,643950.0,3,2.25,1760,2122,3.0,0,0,...,9,1760.0,0,2015,0,98116,47.5633,-122.385,1420,1618
20852,1257201420,20140709T000000,595000.0,4,3.25,3730,4560,2.0,0,0,...,9,2760.0,970,2015,0,98103,47.6725,-122.330,1800,4560
20881,3052700385,20150414T000000,765000.0,4,2.25,2030,2222,2.0,0,0,...,9,1610.0,420,2015,0,98117,47.6790,-122.375,1420,2222
20933,2652501565,20150423T000000,1550000.0,3,3.25,3530,4920,2.0,0,0,...,9,2660.0,870,2015,0,98109,47.6410,-122.357,1900,4200
20963,6058600220,20140731T000000,230000.0,3,1.50,1040,1264,2.0,0,0,...,9,900.0,140,2015,0,98144,47.5951,-122.301,1350,3000
21262,5694500840,20141125T000000,559000.0,2,3.00,1650,960,3.0,0,0,...,8,1350.0,300,2015,0,98103,47.6611,-122.346,1650,3000
21270,1773100541,20150417T000000,389950.0,3,2.25,1580,920,3.0,0,0,...,8,1580.0,0,2015,0,98106,47.5578,-122.363,1250,1150
21316,6600000050,20150310T000000,1698000.0,4,3.50,3950,6240,2.0,0,0,...,11,3950.0,0,2015,0,98112,47.6221,-122.290,2040,6240
21333,2424059174,20150508T000000,1999950.0,4,3.25,5640,35006,2.0,0,2,...,11,4900.0,740,2015,0,98006,47.5491,-122.104,4920,35033
21369,923059259,20150401T000000,455950.0,4,2.50,2720,5771,2.0,0,0,...,8,2720.0,0,2015,0,98056,47.4917,-122.170,1940,4184
21372,6169901185,20140520T000000,490000.0,5,3.50,4460,2975,3.0,0,2,...,10,3280.0,1180,2015,0,98119,47.6313,-122.370,2490,4231
21432,7104100110,20150511T000000,899000.0,4,3.50,2490,5500,2.0,0,0,...,9,1780.0,710,2015,0,98136,47.5499,-122.393,1710,5500
21501,4233600150,20150203T000000,1150000.0,5,4.25,4010,8252,2.0,0,0,...,10,4010.0,0,2015,0,98075,47.5974,-122.013,3370,8252

## Задача 4
Ответьте на несколько вопросов

### 4.1 
Сколько в среднем стоят дома, у которых 2 спальни?

In [34]:
df[df['bedrooms'] == 2]['price'].mean()

401372.681884058

### 4.2 
Какая в среднем общая площадь домов, у которых стоимость больше 600 000?

In [36]:
df[df['price'] > 600000]['sqft_living'].mean()

2895.47442455243

### 4.3 
Как много домов коснулся ремонт?

In [42]:
df[df['yr_renovated'] != 0]['yr_renovated'].count()

914

### 4.4
Насколько в среднем стоимость домов с оценкой grade домов выше 10 отличается от стоимости домов с оценкой grade меньше 4?

In [46]:
grade_max = df[df['grade'] > 10]['price'].mean()

In [47]:
grade_min = df[df['grade'] < 4]['price'].mean()

In [49]:
dif = grade_max - grade_min
dif

1488885.1175298805

## Задача 5
Ответьте на несколько вопросов

In [52]:
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180.0,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170.0,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770.0,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050.0,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680.0,0,1987,0,98074,47.6168,-122.045,1800,7503

### 5.1
Выберите дом клиенту
Клиент хочет дом с видом на набережную, как минимум с тремя ванными и с подвалом. Сколько вариантов есть у клиента?

In [58]:
df[(df['waterfront'] == 1) & (df['sqft_basement'] != 0) & (df['bathrooms'] >= 3)]

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
300,3225069065,20140624T000000,3075000.0,4,5.00,4550,18641,1.0,1,4,...,10,2600.0,1950,2002,0,98074,47.6053,-122.077,4550,19508
457,2122039094,20141126T000000,705000.0,3,3.00,1970,20978,2.0,1,3,...,9,1770.0,200,1980,0,98070,47.3844,-122.438,2280,75396
1164,1247600105,20141020T000000,5110800.0,5,5.25,8010,45517,2.0,1,4,...,12,5990.0,2020,1999,0,98033,47.6767,-122.211,3430,26788
1261,7636800041,20140625T000000,995000.0,3,4.50,4380,47044,2.0,1,3,...,9,3720.0,660,1968,1990,98166,47.4734,-122.365,2460,18512
1315,7558700030,20150413T000000,5300000.0,6,6.00,7390,24829,2.0,1,4,...,12,5000.0,2390,1991,0,98040,47.5631,-122.210,4320,24619
1361,1925069082,20150511T000000,2200000.0,5,4.25,4640,22703,2.0,1,4,...,8,2860.0,1780,1952,0,98052,47.6393,-122.097,3140,14200
2626,7738500731,20140815T000000,4500000.0,5,5.50,6640,40014,2.0,1,4,...,12,6350.0,290,2004,0,98155,47.7493,-122.280,3030,23408
2864,4114601570,20141118T000000,3600000.0,3,3.25,5020,12431,2.0,1,4,...,10,3420.0,1600,1941,2002,98144,47.5925,-122.287,3680,12620
3914,9808700762,20140611T000000,7062500.0,5,4.50,10040,37325,2.0,1,2,...,11,7680.0,2360,1940,2001,98004,47.6500,-122.214,3930,25449
3934,1269200229,20140723T000000,1379900.0,3,3.25,3786,38038,1.0,1,4,...,9,1934.0,1852,1978,2006,98070,47.3907,-122.448,2850,33361
5760,623059016,20140717T000000,1100000.0,4,3.25,3190,11774,2.0,1,4,...,8,2610.0,580,1956,1991,98178,47.5033,-122.225,2240,8725
6233,2024069008,20140619T000000,2200000.0,5,4.75,5990,10450,2.0,1,4,...,11,4050.0,1940,2002,0,98027,47.5554,-122.077,3330,14810
6508,4217402115,20150421T000000,3650000.0,6,4.75,5480,19401,1.5,1,4,...,11,3910.0,1570,1936,0,98105,47.6515,-122.277,3510,15810
7989,9362000040,20140623T000000,3400000.0,3,4.50,5230,17826,2.0,1,4,...,10,3740.0,1490,2005,0,98040,47.5348,-122.243,3670,17826
8092,1924059029,20140617T000000,4668000.0,5,6.75,9640,13068,1.0,1,4,...,12,4820.0,4820,1983,2009,98040,47.5570,-122.210,3270,10454
8163,1724069079,20150319T000000,1452000.0,2,3.25,2070,3128,2.0,1,3,...,9,1760.0,310,1988,0,98075,47.5686,-122.060,2740,3568
8784,3343302110,20150306T000000,1800000.0,3,3.00,2790,13295,2.0,1,4,...,10,2370.0,420,1933,1989,98006,47.5466,-122.197,3140,11949
10263,625059036,20140813T000000,2700000.0,5,4.00,4230,27295,2.0,1,4,...,8,3230.0,1000,1949,1985,98033,47.6803,-122.214,2660,27295
11257,3761100045,20140618T000000,3000000.0,4,4.25,4850,12445,2.0,1,4,...,10,3850.0,1000,1989,0,98034,47.7011,-122.244,3350,12210
11402,3426049284,20140819T000000,2300000.0,4,3.25,4110,15929,2.0,1,4,...,12,2720.0,1390,2001,0,98115,47.6934,-122.271,2640,15929
11424,5119400075,20140620T000000,950000.0,3,3.25,3050,18892,1.0,1,4,...,8,1650.0,1400,1962,0,98198,47.3881,-122.326,1170,70973
11446,624069035,20141209T000000,2750000.0,4,4.00,4130,5575,2.0,1,4,...,10,2860.0,1270,1993,0,98075,47.5968,-122.083,2980,5575
11844,2623039082,20150218T000000,770000.0,3,3.50,2050,21744,2.0,1,4,...,9,1750.0,300,1930,0,98166,47.4536,-122.376,2300,12200
12459,4114601580,20140724T000000,1900000.0,6,4.00,3020,13237,2.0,1,4,...,8,2840.0,180,1942,1983,98144,47.5924,-122.287,3680,12620
12935,3222049044,20140612T000000,835000.0,3,3.00,2790,12523,2.0,1,4,...,8,1600.0,1190,1977,0,98198,47.3571,-122.324,2990,11476
13710,2923500230,20141216T000000,2600000.0,4,4.50,5270,12195,2.0,1,4,...,11,3400.0,1870,1979,0,98027,47.5696,-122.090,3390,9905
13967,3126059023,20150303T000000,3395000.0,4,3.50,4730,47870,1.0,1,4,...,10,2940.0,1790,1954,0,98033,47.6967,-122.216,3250,49346
14083,3625059043,20140904T000000,3300000.0,5,4.75,6200,13873,2.0,1,4,...,11,4440.0,1760,1989,0,98008,47.6050,-122.112,2940,13525
14619,7936500109,20140725T000000,2230000.0,3,3.00,3620,28064,2.0,1,4,...,10,2370.0,1250,1977,0,98136,47.5516,-122.398,2550,34713
14822,3623500408,20150330T000000,2600000.0,3,3.00,3410,16015,2.0,1,4,...,10,2220.0,1190,1973,0,98040,47.5721,-122.239,3760,16572
15482,624069108,20140812T000000,3200000.0,4,3.25,7000,28206,1.0,1,4,...,12,3500.0,3500,1991,0,98075,47.5928,-122.086,4913,14663
15668,4030100290,20141001T000000,1680000.0,5,3.50,5170,7197,3.0,1,4,...,11,3520.0,1650,1998,0,98155,47.7561,-122.271,3020,12880
16817,825059178,20140923T000000,2574000.0,4,3.75,4475,20424,2.0,1,4,...,12,2659.0,1816,1999,0,98033,47.6646,-122.208,4340,5250
17767,7352200450,20150115T000000,2050000.0,4,3.25,3580,19989,1.5,1,4,...,7,3480.0,100,1915,1965,98125,47.7087,-122.276,2410,6389
18199,3625059152,20141230T000000,3300000.0,3,3.25,4220,41300,1.0,1,4,...,11,2460.0,1760,1958,1987,98008,47.6083,-122.110,3810,30401
18455,8043700300,20140608T000000,2700000.0,4,3.25,4420,7850,2.0,1,4,...,11,3150.0,1270,2001,0,98008,47.5720,-122.102,2760,8525
18556,6613000930,20140902T000000,2950000.0,4,3.25,3890,25470,2.0,1,3,...,10,3030.0,860,1923,0,98105,47.6608,-122.269,4140,19281
20325,518500480,20140811T000000,3000000.0,3,3.50,4410,10756,2.0,1,4,...,11,3430.0,980,2014,0,98056,47.5283,-122.205,3550,5634
20767,8043700105,20150417T000000,2300000.0,4,4.00,4360,8175,2.5,1,4,...,10,3940.0,420,2007,0,98008,47.5724,-122.104,2670,8525
21201,518500460,20141008T000000,2230000.0,3,3.50,3760,5634,2.0,1,4,...,11,2830.0,930,2014,0,98056,47.5285,-122.205,3560,5762
21576,9253900271,20150107T000000,3567000.0,5,4.50,4850,10584,2.0,1,4,...,10,3540.0,1310,2007,0,98008,47.5943,-122.110,3470,18270

### 5.2
Выберите дом клиенту
Клиент хочет дом либо с очень красивым видом из окна, либо с видом на набережную, в очень хорошем состоянии и год постройки не меньше 1980 года. В какой ценовом диапазоне будут дома?

In [63]:
house = df[((df['view'] == 4) | (df['waterfront'] == 1)) & (df['condition'] == 5) & (df['yr_built'] > 1980)]
house

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
11257,3761100045,20140618T000000,3000000.0,4,4.25,4850,12445,2.0,1,4,...,10,3850.0,1000,1989,0,98034,47.7011,-122.244,3350,12210
14682,7278100515,20140821T000000,1295000.0,2,2.50,2910,19449,2.0,1,4,...,9,1940.0,970,1985,0,98177,47.7729,-122.393,2540,23598
17312,3585901025,20140613T000000,1735000.0,3,2.50,4310,32093,1.5,0,4,...,10,2510.0,1800,1982,0,98177,47.7624,-122.380,3810,26400
18991,7856400300,20140702T000000,1411600.0,2,2.50,3180,9400,2.0,0,4,...,10,2610.0,570,1985,0,98006,47.5617,-122.158,3760,9450
18992,7856400300,20150322T000000,1505000.0,2,2.50,3180,9400,2.0,0,4,...,10,2610.0,570,1985,0,98006,47.5617,-122.158,3760,9450

In [69]:
house['price'].min()

1295000.0

In [70]:
house['price'].max()

3000000.0

### 5.3
Выберите дом клиенту
Клиент хочет дом без подвала, с двумя этажами, стоимостью до 150000. Какая оценка по состоянию у таких домов в среднем?

In [71]:
df[(df['sqft_basement'] == 0) & (df['floors'] == 2) & (df['price'] <= 150000)]

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
2589,5061300030,20140508T000000,134000.0,2,1.50,980,5000,2.0,0,0,...,7,980.0,0,1922,2003,98014,47.7076,-121.359,1040,5000
10105,5466310060,20150324T000000,139500.0,2,1.50,1230,1561,2.0,0,0,...,7,1230.0,0,1983,0,98042,47.3768,-122.149,1660,2243
11255,1843200350,20140722T000000,150000.0,2,1.50,1360,1934,2.0,0,0,...,7,1360.0,0,1978,0,98092,47.2857,-122.189,1360,1898
15610,7614100080,20150211T000000,140000.0,3,1.75,1270,8991,2.0,0,0,...,7,1270.0,0,1981,0,98042,47.3563,-122.149,1270,8993
18332,9272202260,20140924T000000,130000.0,3,1.00,1200,7000,2.0,0,0,...,7,1200.0,0,1908,0,98116,47.5883,-122.384,3290,6000
18939,4239400300,20141129T000000,90000.0,3,1.00,980,2490,2.0,0,0,...,6,980.0,0,1969,0,98092,47.3170,-122.182,980,3154
18988,7399100210,20141126T000000,140000.0,3,1.50,1200,2002,2.0,0,0,...,8,1200.0,0,1966,0,98055,47.4659,-122.189,1270,1848

In [72]:
df[(df['sqft_basement'] == 0) & (df['floors'] == 2) & (df['price'] <= 150000)]['grade'].mean()

7.0